<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Eurocrate V3.0">
  <link
    name="Eurocrate V3.0">
    <inertial>
      <origin
        xyz="0.3 0.2 0.1701"
        rpy="0 0 0" />
      <mass
        value="7.1075" />
      <inertia
        ixx="0.27401"
        ixy="-1.4447E-17"
        ixz="1.7943E-16"
        iyy="0.44382"
        iyz="-1.92649370565502E-17"
        izz="0.57018" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Eurocrate V3.0/meshes/Eurocrate V3.0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://Eurocrate V3.0/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Eurocrate V3.0/meshes/Eurocrate V3.0.STL" />
      </geometry>
    </collision>
  </link>
</robot>